@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-first: #000000;
  --color-second: #FFFFFF;
  --color-third: #333333;
  --color-fourth: #756257;
  --color-fifth: #68A2CA;
  --color-sixth: #756157;
  --color-seventh: #E5E5E5;
  --color-eighth: #F2F2F2;
  --color-ninth: #83B3D3;
  --color-tenth: #3F5E72;
  --color-eleventh: #82B3D3;
  --color-twelfth: #FF5757;
  --color-thirteenth: #81B3D2;
  --color-bg-first: #E5E5E5;
  --color-bg-second: #FFFFFF;
  --color-bg-third: #756157;
  --color-bg-fourth: #F2F2F2;
  --color-bg-fifth: #82B3D3;
  --color-bg-sixth: #7DB54F;
  --color-bg-seventh: #000000;
  --color-bg-eighth: #68A2CA;
  --color-bg-ninth: #615048;
  --color-bg-tenth: #83B3D3;
  --color-bg-eleventh: #756157;
  --color-bg-twelfth: #756257;
  --color-bg-thirteenth: #E6E6E6;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans";
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: var(--color-bg-first);
  color: var(--color-first);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--color-bg-second);
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wrapper-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--color-bg-second);
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color-second);
  background-color: var(--color-bg-third);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.button:focus,
.button:hover {
  color: var(--color-second);
  background-color: var(--color-bg-ninth);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-bg-third);
}

.button:disabled {
  color: var(--color-second);
  background-color: var(--color-bg-first);
}

/* Шапка */
.page-header {
  background-color: var(--color-bg-second);
}

/* Навигация / ссылки */
.navigation {
  display: flex;
  width: 1056px;
  margin: auto;

}

.header-logo {
  display: block;
  position: relative;
  z-index: 1;

}

.page-logo {
  display: block;
  margin-right: 26px;
  width: 139px;
  margin-bottom: -5px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 550px;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--color-first);
  background-color: var(--color-bg-second);
  text-decoration: none;
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 15px;
  bottom: 0;
  left: 15px;
  height: 2px;
  background-color: var(--color-fourth);
  content: "";
}

.user-block {
  display: flex;
  flex-wrap: wrap;
  width: 264px;
  margin-left: auto;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-user-icon {
  fill: var(--color-first);
}

.navigation-user-icon:hover,
.navigation-user-icon:focus {
  fill: var(--color-bg-third);
}

.navigation-user:active {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-user .navigation-item:last-child .navigation-link {
  position: relative;
}

.navigation-user .navigation-item:last-child .navigation-link::after {
  position: absolute;
  content: "";
  display: block;
  top: 15px;
  left: 24px;
  width: 20px;
  height: 20px;
  background-image: url("../images/header/counter-icon.svg");
  font-size: 20px;
}

.button-container {
  margin-left: auto;
}

.header-link {
  display: block;
  margin: 14px 0;
  padding: 9px 15px;
  min-width: 160px;
}


.navigation-user .navigation-link {
  width: 18px;
  height: 18px;
  padding: 24px 12px;
  display: block;
}

/* Главная */

/* Промо-блок */

.sedona-promo-information {
  padding-top: 51px;
  padding-bottom: 82px;
}

.sedona-presentation {
  background-color: var(--color-bg-second);
  color: var(--color-first);
  background-image: url("../images/index/index-background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

.sedona-presentation:after {
  position: absolute;
  width: 1200px;
  height: 57px;
  bottom: 4px;
  background-image: url("../images/catalog/decoration-line-sedona.svg");
  background-repeat: repeat;
  content: "";
}


.promo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sedona-slogan-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-bg-second);
  margin-top: 59px;
  margin-bottom: 27px;
  max-width: 620px;
}

.sedona-slogan-subtitle {
  margin: 0;
  color: var(--color-third);
  background-color: var(--color-bg-second);
  margin-bottom: 90px;
  text-align: center;
}

.sedona-promo-information {
  text-align: center;
}

/* Преимущества */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-details {
  margin:0;
}

.advantages-details-hotel {
  color: var(--color-third);
  margin: 0 auto;
  width: 180px;
}

.advantages-details-number {
  width: 230px;
  margin-top: 0;
  margin-bottom: 30px;
}


.advantages-main {
  margin: 0;
  color: var(--color-second);
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-container-main {
  background-color: var(--color-bg-fifth);
  color: var(--color-second);
  padding: 0;
  margin: 0;
  height: 384px;
  display: flex;
  width: 1200px;
}

.advantages-item-container-small-one {
  background: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
}

.container-item-canyon {
  margin: auto;
  padding: 103px 85px;
}

.title-canyon {
  width: 180px;
  margin: 0 auto 30px auto;
}

.container-item {
  padding: 92px 85px;
  max-width: 230px;
}

.container-item-home {
  padding: 184px 85px 81px;
  max-width: 230px;
  background-image: url("../images/index/advantage-icon-home.svg");
  background-repeat: no-repeat;
  background-position: 160px 82px;
}

.container-item-food {
  padding: 184px 85px 81px;
  max-width: 230px;
  background-image: url("../images/index/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-position: 160px 82px;
}

.container-item-souvenirs {
  padding: 184px 85px 81px;
  max-width: 230px;
  background-image: url("../images/index/advantage-icon-souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 160px 82px;
}

.advantages-item-container-small-two {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 384px;
}

.advantages-item-container-small-three {
  width: 400px;
  height: 384px;
}

.advantages-item-container-city {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style-type: none;
}

.advantages-item-container-canyon {
  display: flex;
  width: 1200px;
}

.product-search {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 297px;
  margin-top: 91px;
  margin-bottom: 29px;
}

.product-search-subtitle {
  color: var(--color-third);
  margin-top: 0;
  margin-bottom: 56px;
  max-width: 592px;
}

.product-newsletters {
  background-image: url("../images/index/background-field-subscribe.jpg");
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-newsletters-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-second);
  margin-top: 94px;
  margin-bottom: 29px;
}

.product-newsletters-subtitle {
  margin: 0;
  color: var(--color-second);
  margin-bottom: 46px;
}

.subscribtion {
  margin-bottom: 94px;
  display: flex;

}

.subscribtion-field {
  font-size: 18px;
  line-height: 21px;
  width: 580px;
  padding-left: 22px;
  padding-top: 21px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  outline: none;
  background-color: var(--color-bg-fourth);
}

.subscribtion-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscribtion-field:hover {
  background-color: var(--color-bg-thirteenth);
}

.subscribtion-field:focus {
  outline: 3px solid var(--color-ninth);
  background-color: var(--color-bg-thirteenth);
}

.subscribtion-field:not(:placeholder-shown) {
  outline: 2px solid var(--color-first);
  background-color: var(--color-bg-second);
  color: var(--color-first);
}


.product-newsletters-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-newsletters-title-inner {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-second);
  margin-top: 94px;
  margin-bottom: 29px;
  color: var(--color-first);
}

.product-newsletters-subtitle-inner {
  color: var(--color-first);
  margin-bottom: 46px;
}

/* Футер */
.page-footer {
  color: var(--color-first);
  background-color: var(--color-bg-second);
  padding: 40px 70px 30px 70px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}


.footer-contacts {
  width: 350px;
  align-self: center;
  display: flex;
  justify-content: center;
}

.html-academy-logo {
  width: 115px;
  align-self: center;
}

.icon-logo {
  fill: var(--color-first);
}

.icon-logo:hover,
.icon-logo:focus {
  fill: var(--color-sixth);
}

.icon-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  display: block;
  width: 48px;
  height: 40px;
  position: relative;

}

.footer-link {
  min-width: 48px;
  min-height: 40px;
  box-sizing: border-box;

}

.footer-link-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: var(--color-ninth);
}

.footer-link:hover .footer-link-icon,
.footer-link:focus .footer-link-icon {
  fill: var(--color-fifth);
}

.footer-link:active .footer-link-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}

.contact-phone:hover {
  color: var(--color-sixth);
}

.contact-phone:focus {
  color: var(--color-sixth);
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer a {
  color: var(--color-first);
}

/*модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: var(--color-bg-second);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  }


  .modal-auth {
    width: 575px;
  }

  .modal-close-button {
    position: absolute;
    padding: 0;
    top: 55px;
    right: 73px;
    width: 53px;
    height: 53px;
    border: 3px solid transparent;
    border-radius: 50%;
    background-color: var(--color-bg-fourth);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-close-button:hover {
    background-color: var(--color-bg-thirteenth);
  }

  .modal-close-button:focus {
    background-color: var(--color-bg-thirteenth);
    border: 3px solid var(--color-bg-tenth);
  }

  .modal-close-button:active {
    background-color: var(--color-bg-thirteenth);
    fill: rgba(0, 0, 0, 0.3);
  }



.modal-title {
  margin: 0;
  margin-bottom: 63px;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--color-first);
  text-transform: uppercase;
}

.modal-form {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-form-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.modal-form-item {
  padding: 0;
  margin: 0;
}

.input-date {
  display: flex;
  width: 575px;
  justify-content: space-between;

}

.input-field-date {
  background-color: var(--color-bg-fourth);
  border-radius: 4px;
  border: none;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding: 15px 19px;
  width: 420px;
  box-sizing: border-box;
}


.modal-label {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-first);
  display: flex;
  align-items: center;
  margin-right: auto;
}

.modal-label-icon {
  position: relative;
  padding-right: 25px;
}


.modal-input-comment {
  margin: 0;
  color: var(--color-third);
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  max-width: 420px;
  margin-left: 155px;
  margin-bottom: 11px;;
}

.comment-input-error {
  color: var(--color-twelfth);
}

.input-field-date {
  background-image: url(../images/modal/modal-calender-icon.svg);
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

.input-field-date:invalid .comment-input-error {
  color: var(--color-twelfth);
}

.input-field-date:valid .comment-input {
  color: var(--color-first);
}

.input-field-date:hover {
  background-color: var(--color-bg-thirteenth);
}

.input-field-date:focus {
  background-color: var(--color-bg-thirteenth);
  outline: 3px solid var(--color-ninth);
}

.input-field-date:not(:placeholder-shown) {
  color: var(--color-first);
  background-color: var(--color-bg-second);
  outline: 3px solid var(--color-first);
}

.input-number-adults {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
  margin-right: 57px;
}

.minus-icon {
  width: 13px;
  height: 1px;
  fill: rgba(0, 0, 0, 0.3);
  padding: 12px 6px;

}

.before-input:hover .minus-icon {
  fill: var(--color-first);
}

.before-input:focus .minus-icon {
  fill: var(--color-first);
  outline: 3px solid var(--color-ninth);
}

.before-input:active .minus-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.input-number-kids {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
}

.plus-icon {
  width: 13px;
  height: 13px;
  padding: 6px;
  fill: rgba(0, 0, 0, 0.3);
}

.after-input:hover .plus-icon {
  fill: var(--color-first);
}

.after-input:focus .plus-icon {
  fill: var(--color-first);
  outline: 3px solid var(--color-ninth);
}

.after-input:active .plus-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.auth-form-field {
  width: 31px;
  text-align: center;
  border: none;
  background-color: var(--color-bg-fourth);
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-first);
  box-sizing: border-box;
}

.modal-number-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.modal-container-close {
  display: block;

}

.before-input {
  width: 51px;
  height: 50px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
}

.after-input {
  width: 51px;
  height: 50px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
}


.plus-icon {
  width: 13px;
  height: 13px;
  fill: rgba(0, 0, 0, 0.3);
}

.tooltip {
  position: absolute;
  margin-top: 2px;
  margin-left: 2px;
  width: 25px;
  height: 25px;
  margin-left: 53px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: var(--color-fifth);
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  fill: var(--color-ninth);
  display: block;
}

.tooltip-text {
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: var(--color-second);
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 8px;
  display: block;
  width: 256px;
  position: absolute;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  box-sizing: border-box;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/modal/modal-tooltip-tail-icon.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 0;
  border: 0;
  background-color: var(--color-bg-tenth);
  border-radius: 10px;
  padding: 12px 26px;
  width: 575px;
}
.modal-button:hover {
  background-color: var(--color-bg-eighth);
}
.modal-button:focus {
  background-color: var(--color-bg-eighth);
  outline: 3px solid var(--color-bg-eleventh);
}
.modal-button:active {
  background-color: var(--color-bg-eighth);
  color: rgba(255, 255, 255, 0.3);
}


/* Кнопки главной и каталога*/





.search-button {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 93px;
  margin-top: 0;
  width: 574px;
  padding: 12px 15px;
}

.subscribe-button {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 36px;
  background-color: var(--color-bg-fifth);
  border: none;
  padding: 12px 15px;
  width: 200px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.subscribe-button:hover,
.subscribe-button:focus {
  color: var(--color-second);
  background-color: var(--color-bg-eighth);
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-bg-fifth);
}

.subscribe-button:disabled {
  color: var(--color-second);
  background-color: var(--color-bg-first);
}

.product-card-button-selected:focus,
.product-card-button-selected:hover {
  color: var(--color-second);
  background-color: #6C9E42;
}

.product-card-button-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-bg-sixth);
}

.product-card-button-selected:disabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-bg-first);
}

.submit-button {
  background-color: var(--color-bg-fifth);
  border: none;
  cursor: pointer;
  padding: 14px 15px;
  width: 160px;
  margin-bottom: 20px;
}

.submit-button:hover,
.submit-button:focus {
  color: var(--color-second);
  background-color: var(--color-bg-eighth);
}

.submit-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-bg-fifth);
}

.submit-button:disabled {
  color: var(--color-second);
  background-color: var(--color-bg-first);
}

.reset-button {
  text-transform: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.reset-button:hover {
  background-color: transparent;
  color: var(--color-eighth);
  opacity: 0.6;
}

.reset-button:focus {
  background-color: transparent;
  border: 3px solid var(--color-ninth);
}

.button-view {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: var(--color-bg-second);
}

.button-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  height: 37px;
  border: none;
  cursor: pointer;
}

.product-card-button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-fifth);
  width: 140px;
  height: 37px;
  border: none;
  cursor: pointer;
}

.product-card-button-add:hover,
.product-card-button-add:focus {
  color: var(--color-second);
  background-color: var(--color-bg-eighth);
}

.product-card-button-add:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-bg-fifth);
}

.product-card-button-add:disabled {
  color: #FFFFFF;
  background-color: var(--color-bg-first);
}

.product-card-button-selected:focus,
.product-card-button-selected:hover {
  color: #FFFFFF;
  background-color: #6C9E42;
}

.product-card-button-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-bg-sixth);
}

.product-card-button-selected:disabled {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--color-bg-first);
}

.product-card-button-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-sixth);
  width: 140px;
  height: 37px;
  border: none;
  cursor: pointer;
}

.product-card-button-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-fourth);
  color: var(--color-third);
  width: 140px;
  height: 37px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.product-card-button-rating:hover,
.product-card-button-rating:focus,
.product-card-button-rating:active,
.product-card-button-rating:disabled {
  background-color: var(--color-bg-fourth);
  color: var(--color-third);
}



/* Страница каталога */

/* Фильтры */
.filter-background {
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-bg-seventh);
  color: var(--color-second);
  background-image: url("../images/catalog/product-form-background.jpg");
  background-size: cover;
  padding: 35px 70px 68px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--color-second);
  margin-top: 0;
  margin-bottom: 10px;
}

/* хлебные крошки */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-image: url("../images/catalog/arrow-right-icon.svg");
  background-repeat: no-repeat;
  background-position: 22px;
}

.products-form-search {
  margin-bottom: 38px;
}

.breadcrumbs-link-home {
  display: block;
  color: inherit;
  text-decoration: none;
  min-width: 12px;
  min-height: 12px;
  margin-right: 25px;
}

.breadcrumbs-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.link-home-icon {
  fill: var(--color-second);
}

.link-home-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.link-home-icon:focus {
  fill: var(--color-second);
}

.link-home-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: var(--color-second);
}

.link-home-icon:active {
  color: rgba(255, 255, 255, 0.3);
}

/* формы */

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-title-price {
  margin-bottom: 34px;
}
.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


/* чекбокс */

.catalog-filter-group-benefits {
  padding: 0;
  width: 150px;
  margin-right: 68px;
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-bg-second);
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid var(--color-bg-tenth);
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 3px solid var(--color-bg-tenth);
}

.control-input[type="checkbox"]:checked+.control-mark {
  background-image: url("../images/catalog/checkbox-control-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}


/* радио */

.control-radio {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--color-bg-second);
  border-radius: 4px;
}


.control-input-radio[type="radio"]+.control-mark-radio {
  border-radius: 50%;
}

.control-input-radio[type="radio"]:checked+.control-mark-radio {
  background-image: url("../images/catalog/radio-control-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-radio:hover .control-mark-radio {
  background-color: var(--color-bg-second);
}

.control-radio:focus .control-mark-radio {
  background-color: var(--color-bg-second);
  outline: 3px solid var(--color-bg-tenth);
}

.control-radio:active .control-mark-radio {
  background-color: var(--color-bg-second);
}
/* бегунок */

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--color-second);
}


.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: var(--color-second);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid var(--color-ninth);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid var(--color-ninth);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}


.toggle-min {
  top: -8px;
  left: -2px;
}

.toggle-max {
  top: -8px;
  right: -2px;
}

.price-range-table::-webkit-outer-spin-button,
.price-range-table::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.price-range-table {
  background-color: transparent;
  color: var(--color-second);
  border: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-second);
  box-sizing: border-box;
  padding: 13px 20px;
  outline: none;
}

.price-range-table:hover {
  border: 2px solid var(--color-second);
}

.price-range-table:focus {
  border: 2px solid var(--color-second);
  box-shadow: 0 0 0 3px var(--color-thirteenth),
    inset 0 0 0 3px var(--color-thirteenth);
}

.price-range-table:not(:placeholder-shown) {
  background: var(--color-bg-twelfth);
  border: 2px solid var(--color-second);
}

.price-range-table::placeholder {
  color: var(--color-second)
}

.input-left:focus {
  box-shadow: 0 0 0 3px var(--color-thirteenth),
    inset 0 0 0 3px var(--color-thirteenth);
  outline: none;
  z-index: 1;
}

.input-left {
  width: 144px;
  border-radius: 4px 0px 0px 4px;
  border: 2px solid var(--color-second);
  position: relative;
}

.price-range-left {
  position: absolute;
  right: 41%;
  top: 45%;
  color: rgba(255, 255, 255, 0.3);

}

.input-right {
  width: 144px;
  border-radius: 0px 4px 4px 0;
  border: 2px solid var(--color-second);
  position: relative;
  margin-left: -2px;
}

.price-range-right {
  position: absolute;
  left: 67%;
  top: 45%;
  color: rgba(255, 255, 255, 0.3);
}

.wrapper-inputs-range {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 27px;
}



/* цены */
.catalog-filter-group-hotel {
  width: 146px;
  padding: 0;
  margin-right: 171px;
  border: none;
}

.catalog-filter-group-range {
  padding: 0;
  width: 288px;
  border: none;

}

.catalog-filter-group-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 160px;
  margin-left: auto;

}

/* результаты подбора */
.catalog-products-results {
  padding: 55px 72px;
  background-color: var(--color-bg-second);
}

.products-catalog-filter {
  color: var(--color-second);
}

.products-results-total {
  display: flex;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.total-container {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 338px;
  margin-right: 190px;
  align-self: center;

}

.select-control {
  width: 290px;
  margin-right: auto;
  padding-left: 20px;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  box-sizing: border-box;
  border: 2px solid var(--color-seventh);
  background-image: url("../images/catalog/arrow-down-icon.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid var(--color-fifth);
}

.select-control:active {
  border: 2px solid var(--color-tenth);
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.catalog-filter-box {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-link:not(:first-child) {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid var(--color-seventh);
  border-radius: 4px;
}

.filter-link-current {
  border: 2px solid var(--color-first);
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border-radius: 4px;
}

.button-view {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;

}

.buttton-view:hover {
  outline: 2px solid var(--color-first);
}

.buttton-view:focus {
  outline: 2px solid var(--color-fifth);
}

.buttton-view:active {
  outline: 2px solid var(--color-first);
}

.catalog-filter-link:last-child {
  margin-right: 0;
}

/* Продуктовый каталог */

.product-list {
  display: grid;
  margin: auto;
  padding: 0;
  column-gap: 18px;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-second);
  height: 438px;
  width: 340px;
}

.product-card-link {
  text-decoration: none;
  align-self: center;
  width: 300px;
  height: 211px;
  margin-top: 20px;
  margin-bottom: 16px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-first);
  width: 300px;
  height: 28px;
  margin-top: 0;
  margin-bottom: 16px;
  align-self: center;
}

.product-price-range {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-third);
  align-self: center;
  margin-bottom: 16px;
}

.product-properties-price {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-self: center;
  margin-bottom: 16px;
}

.product-properties-buttons {
  display: flex;
  width: 300px;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-properties-rating {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-self: center;
  margin-bottom: 20px;
}

.product-type {
  width: 140px;
  height: 21px;
}

.product-price {
  width: 140px;
  height: 21px;
}


.four-stars {
  background-image: url("../images/catalog/star-rating.svg");
  background-repeat: repeat-x;
  width: 72px;
}

.three-stars {
  background-image: url("../images/catalog/star-rating.svg");
  background-repeat: repeat-x;
  width: 56px;
}

.two-stars {
  background-image: url("../images/catalog/star-rating.svg");
  background-repeat: repeat-x;
  width: 36px;
}

/* Пагинация*/
.pagination-container-big {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.pagination {
  display: flex;
  width: 400px;
  background-color: var(--color-bg-second);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-second);
  background-color: var(--color-bg-fifth);
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  border: 1px solid var(--color-bg-fifth);
  border-radius: 4px;
}

.pagination-item:not(:first-child) .pagination-link:hover,
.pagination-item:not(:first-child) .pagination-link:focus {
  border: 1px solid var(--color-eleventh);
  background-color: var(--color-bg-eighth);
}

.pagination-item:not(:first-child) .pagination-link:disabled {
  border: 1px solid var(--color-bg-fifth);
  background-color: var(--color-bg-fifth);
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: var(--color-first);
  background-color: var(--color-bg-fourth);
  border: none;
}

.select-label {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-left: auto;
}

.hotels-number-page {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 160px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  margin-left: 50px;
  border: 2px solid var(--color-seventh);
  background-image: url("../images/catalog/arrow-down-icon.svg");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hotels-number-page:hover,
.hotels-number-page:focus {
  border: 2px solid var(--color-fifth);
}

.hotels-number-page:active {
  border: 2px solid var(--color-tenth);
}

.hotels-number-page:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
