@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


:root  {
  --color-first: #000000;
  --color-second: #FFFFFF;
  --color-third: #333333;;
  --color-bg-first: #E5E5E5;
  --color-bg-second: #FFFFFF;
  --color-bg-third: #756157;
  --color-bg-fourth: #F2F2F2;
  --color-bg-fifth: #82B3D3;
  --color-bg-sixth: #7DB54F;
  --color-bg-seventh:#000000;
}

html {
  height: 100%;
}

body {
  margin-left:  40px;
  margin-right:  40px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: var(--color-bg-first);
  color: var(--color-first);
}

.main-container  {
  flex-grow: 1;
}

.wrapper-main {
  background-color: var(--color-bg-second);
  width: 1200px;
  margin: 0 auto;
}

.wrapper-inner {
  background-color: var(--color-bg-second);
  width: 1200px;
  margin: 0 auto;
}

/* Шапка */
.page-header {
  background-color: var(--color-bg-second);
}

/* Навигация / ссылки */
.navigation {
display: flex;
width: 1200px;
}

.page-logo {
display: block;
margin-left: 70px;
margin-right: 47px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 390px;
  margin-right: auto;
  list-style-type: none;
}

.user-block {
  margin: 0;
  padding: 0;
  max-width: 264px;
  margin-right: 70px;
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

/* Главная */

/* Промо-блок */
.sedona-presentation {
  background-color: var(--color-bg-second);
  color: var(--color-first);
  background-image: url("/images/index/index-background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sedona-slogan-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--color-bg-second);
}

.sedona-slogan-subtitle {
  text-align: center;
  color: var(--color-third);
  background-color: var(--color-bg-second);
}

.sedona-promo-information {
  text-align: center;
}

/* Преимущества */
.advantages-list {
  display: grid;
  grid-template-columns: 400px, 400px, 400px;
  text-align: center;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-details {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-third);
}

.advantages-main {
  color: var(--color-second);
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-container-main {
  background-color: var(--color-bg-fifth);
  color: var(--color-second);
  padding: 0;
  margin: 0;
  height: 384px;
  display: flex;
  width: 1200px;
}

.advantages-item-container-small-one {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 387px;
}

.container-item {
  display: block;
}

.advantages-item-container-small-two {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  height: 387px;
}

.advantages-item-container-small-three {
  width: 400px;
  height: 387px;
}

.advantages-item-container-city {
  padding: 0;
  margin: 0;
  display: flex;
  width: 1200px;
}

.advantages-item-container-canyon {
  display: flex;
  width: 1200px;
}

.product-search {
  text-align: center;
  height: 417px;
}

.product-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-search-subtitle {
  color: var(--color-third);
}

.product-newsletters {
  background-image: url("/images/index/background-field-subscribe.jpg");
  text-align: center;
  height: 411px;
}

.product-newsletters-inner {
  text-align: center;
  height: 411px;
}

.product-newsletters-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-newsletters-subtitle {
  color: var(--color-third);
}

/* Футер */
.page-footer {
  color: var(--color-first);
  background-color: var(--color-bg-second);
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: auto;
  padding: 40px 70px 30px;

}

.footer-social {
  width: 142px;
  align-self: center;
}

.footer-contacts {
  width: 331px;
  align-self: center;
}

.html-academy-logo {
  width: 115px;
  align-self: center;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-style: normal;
}

.page-footer a {
  color: var(--color-first);
}

.footer-link {
  text-decoration: none;

}
/* Кнопки главной и каталога*/

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color-second);
  background-color: var(--color-bg-third);
  text-decoration: none;
  text-transform: uppercase;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  background-color: var(--color-bg-fifth);
  border: none;
}

.submit-button {
  background-color: var(--color-bg-fifth);
  border: none;
}

.reset-button {
  text-transform: none;
  background-color: transparent;
  border: none;
}

.button-view {
  background-color: var(--color-bg-second);
  color: var(--color-first);
  text-transform: none;
  border: none;
}

.product-card-button-add {
  background-color: var(--color-bg-fifth);
  width: 140px;
  height: 37px;
  margin-bottom: 16px;

}

.product-card-button-selected {
  background-color: var(--color-bg-sixth);
  width: 140px;
  height: 37px;
  margin-bottom: 16px;
}

.product-card-button-rating {
  background-color:  var(--color-bg-fourth);
  color: var(--color-third);
  width: 140px;
  height: 37px;

}

/* Страница каталога */


/* Фильтры */
.filter-background {
  font-size: 18px;
  line-height: 21px;
  background-color: var(--color-bg-seventh);
  color: var(--color-second);
  background-image: url("/images/catalog/product-form-background.jpg");
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: var(--color-second);
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
}

.catalog-filter-group-one {
  width: 151px;
  margin-right: 70px;
}

.catalog-filter-group-two {
  width: 146px;
  margin-right: 167px;
}

.catalog-filter-group-three {
    width: 288px;
    margin-right: 70px;
}

.catalog-filter-group-four {
    width: 160px;
    margin-left: auto;
}

.catalog-products-results {
  background-color: var(--color-bg-second);
}

.products-catalog-filter {
  color: var(--color-second);
}

.products-results-total {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.total-container {
  width: 338px;
  min-height: 49px;
  margin-right: 191px;
}

.select-control {
  width: 290px;
  min-height: 49px;
  margin-right: 78px;
}

.catalog-filter-box {
  display: flex;
  padding: 0;
  margin: 0;
}

.catalog-filter-link {
  width: 48px;
  min-height: 48px;
}

/* Продуктовый каталог */

.product-list {
  display: grid;
  width: 1056px;
  margin: auto;
  padding: 0;
  column-gap: 18px;
  grid-template-columns: 340px 340px 340px;
  list-style-type: none;
}

.products-results-total {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-second);
  height: 438px;
  width: 340px;

}

.product-card-link {
  text-decoration: none;
  align-self: center;
  width: 300px;
  height: 211px;
  margin-bottom: 16px;
  margin-top: 20px;
}


.product-card-title {
  display: flex;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--color-first);
  width: 300px;
  height: 28px;
  margin-top: 0;
  margin-bottom: 16px;
  align-self: center;

}

.product-price-range {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-third);
  align-self: center;
  margin-bottom: 16px;

}

.product-properties-price {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 37px;
  align-self: center;
  margin-bottom: 16px;
}

.product-properties-buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 37px;
  align-self: center;
  margin-bottom: 16px;
}

.product-properties-rating {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 37px;
  align-self: center;
  margin-bottom: 20px;

}

.product-type {
  width: 140px;
  height: 21px;
}

.product-price {
width: 140px;
height: 21px;

}

.button-more {
width: 140px;
height: 37px;
margin-bottom: 16px;
}

.four {
width: 140px;
height: 37px;
}

.price-range-table {
  background-color: transparent;
  color: white;
}

.four-stars {
  background-image: url("/images/catalog/star-rating.svg");
  background-repeat: repeat-x;
  width: 72px;
}

.three-stars {
  background-image: url("/images/catalog/star-rating.svg");
  background-repeat: repeat-x;
  width: 56px;
}

.two-stars {
  background-image: url("/images/catalog/star-rating.svg");
  background-repeat: repeat-x;
  width: 36px;
}

  /* Пагинация*/
.pagination-container-big {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin: 0 auto;
}

.pagination-item {
    width: 60px;
  }

.pagination {
  display: flex;
  justify-content: space-between;
  width: 400px;
  background-color: var(--color-bg-second);
  padding: 0;
  margin: 0;
}

.pagination-link {
  color: var(--color-second);
  background-color: var(--color-bg-fifth);
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  }

.pagination-current {
  color: var(--color-first);
  background-color: var(--color-bg-second);
}


.select-label {
  font-size: 18px;
  line-height: 21px;
  width: 386px;
}







